<div class="card">
    <h5 class="card-header">EMAIL US</h5>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text" style="font-weight: bolder;">Have any queries? Email to us with your queries or suggestions</p>
      <a href="#" class="btn btn-primary">Email us</a>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">CALL US</h5>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text" style="font-weight: bolder;">Reach us by calling us on our toll-free number click below</p>
      <a href="#" class="btn btn-primary">Call us</a>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">OUR WEBSITE</h5>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text" style="font-weight: bolder; color: rgb(4, 148, 100);">Christ Deemed To Be University, Central Campus, Hosur Road, Dairy Circle, Bangalore</p>
      <a href="https://christuniversity.in/" class="btn btn-primary">Check On Christ Site</a>
    </div>
  </div>