<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2017/08/06/15/12/people-2593359_1280.jpg" alt="">
      <div class="card-body">
        <h2 class="card-title">CHRIST DENIM HOODIE</h2>
        <p class="card-text">A Denim hoodie specially designed for christites to increase their swag level.</p>
        <h3 class="card-title">Rs.700/-</h3>
        <a href="#" class="btn btn-primary">ADD TO CHRISTCART</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2014/04/22/02/55/pasta-329522_1280.jpg" alt="">
      <div class="card-body">
        <h2 class="card-title">PERI PERI PASTA</h2>
        <p class="card-text">Get peri peri pasta from mingos near bird parks and spark your taste buds</p>
        <h3 class="card-title">Rs.50/-</h3>
        <a href="#" class="btn btn-primary">ADD TO CHRISTCART</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/07/03/14/59/water-830374_1280.jpg" alt="">
      <div class="card-body">
        <h2 class="card-title">FITNESS WATER BOTTLE</h2>
        <p class="card-text">Fitness water bottles having the exact capacity that you need at a time.</p>
        <h3 class="card-title">Rs.100/-</h3>
        <a href="#" class="btn btn-primary">ADD TO CHRISTCART</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2014/05/21/14/54/feet-349687_1280.jpg" alt="">
      <div class="card-body">
        <h2 class="card-title">BLUE DENIM JEANS</h2>
        <p class="card-text">Blue denim jeans made of recyclable plastic and has linger durability.</p>
        <h3 class="card-title">Rs.550/-</h3>
        <a href="#" class="btn btn-primary">ADD TO CHRISTCART</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2019/04/28/15/13/pen-4163403_1280.jpg" alt="">
      <div class="card-body">
        <h2 class="card-title">CALLIGRAPHY PEN</h2>
        <p class="card-text">A pen that can help you inhance your calligraphy skills.</p>
        <h3 class="card-title">Rs.90/-</h3>
        <a href="#" class="btn btn-primary">ADD TO CHRISTCART</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2017/07/20/20/18/smoothie-2523597_1280.jpg" alt="">
      <div class="card-body">
        <h2 class="card-title">STRAWBERRY MILKSHAKE</h2>
        <p class="card-text">Get strawberry milkshake which is fresh specially from fresheteria.</p>
        <h3 class="card-title">Rs.50/-</h3>
        <a href="#" class="btn btn-primary">ADD TO CHRISTCART</a>
      </div>
    </div>
  </div>
</div>

